:root {
  --purple: #24053e;
  --green: #44ffa1;
  --light-purple: #584d62;
  --dark-white: #fcf8ff;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  background-color: var(--purple);
  /* clip-path: ellipse(175% 100% at top); */
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  height: 480px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apply-link {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  color: var(--white);
}

.green-bottom {
  border-bottom: 3px solid var(--green);
}

h1 {
  font-family: Fraunces, serif;
  font-size: 50px;
  color: var(--white);
  font-weight: 400;
  text-align: center;
  margin-top: 64px;
}

.btn-learn {
  display: block;
  height: 55px;
  width: 133px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.btn-learn:hover {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}

.phone {
  width: 320px;
  margin-top: 64px;
  margin-left: 20px;
}

.benefits {
  background-color: var(--dark-white);
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 72px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

.benefit-card span {
  border: 1px solid var(--light-purple);
  border-radius: 50%;
  font-family: Fraunces, serif;
  font-size: 1.25rem;
  padding: 11px 17px;
  margin-bottom: 24px;
}

.benefit-card h3 {
  font-family: Fraunces, serif;
  color: var(--purple);
  font-size: 1.75rem;
  margin-bottom: 16px;
  letter-spacing: -2px;
}

.benefit-card p {
  font-family: Manrope, Calibri, sans-serif;
  color: var(--light-purple);
  text-align: center;
  font-weight: 400;
  line-height: 28px;
}
