:root {
  --purple: #24053e;
  --green: #44ffa1;
  --light-purple: #584d62;
  --dark-white: #fcf8ff;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  background-color: var(--purple);
  /* clip-path: ellipse(99% 99% at top); */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.apply-link {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  color: var(--white);
}

.green-bottom {
  border-bottom: 3px solid var(--green);
}

h1 {
  font-family: Fraunces, serif;
  font-size: 50px;
  color: var(--white);
  font-weight: 400;
}

.btn-learn {
  display: block;
  height: 55px;
  width: 133px;
  margin: 0 auto;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

.btn-learn:hover {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}

.phone {
  width: 200px;
}
